
body {
  /*background-color: #eef1f0;*/
  background-image: url("Assets/stars.jpg");
  font-size: 16px;
  line-height: 1.5;
}

nav {
    margin-top: 20px;
}


a.active {
    color: #ff0000 !important;
}

.board-container{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}


.title{
    font-weight: bold;
}

.back-button{
    margin-top: 20px;
}





