<div class="card">
    <div class="row card-body">
        <div class="col-xs-12 col-sm-6">
            <h5 class="card-title" ng-bind="swPersonCardCtrl.person.name"></h5>
        </div>

        <div class="col-xs-12 col-sm-6">
            <span class="title">Gender:</span>
            <span ng-bind="swPersonCardCtrl.person.gender"></span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="title">Birth Year:</span>
            <span ng-bind="swPersonCardCtrl.person.birth_year"></span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="title">Eye Color:</span>
            <span ng-bind="swPersonCardCtrl.person.eye_color"></span>
        </div>

        <div class="col-xs-12 col-sm-6">
            <a ui-sref="sw.person({id:swPersonCardCtrl.id, personObj: swPersonCardCtrl.person})">
                <button type="button" class="btn btn-block btn-primary">More Details</button>
            </a>
        </div>
    </div>
</div>