
<div class="container">

        <nav class="navbar sticky-top navbar-light bg-light" role="navigation">
            <ul class="navbar-nav   ">
                <li class="nav-item"><a ui-sref="sw.people"
                       class="h5 nav-link" aria-label="People"
                       ui-sref-active="active">People</a></li>
                <!--<li class="nav-item"><a ui-sref=".planets"-->
                       <!--class="h5 nav-link" aria-label="Planets"-->
                       <!--ui-sref-active="active">Planets</a></li>-->
                <li class="nav-item"><a ui-sref=".starships"
                       class="h5 nav-link" aria-label="Ships"
                       ui-sref-active="active">Ships</a></li>
            </ul>

            <toast></toast>

        </nav>
    <div class="board-container card">

        <ui-view></ui-view>

    </div>
</div>