<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-4">
        <div ng-repeat="person in swPeopleCtrl.results">
            <sw-person-card-component person="person"></sw-person-card-component>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li ng-class="{'disabled': !swPeopleCtrl.swPeopleList.previous}" class="page-item"><a class="page-link"
                                                                                                      ui-sref="sw.people({pageNum:swPeopleCtrl.prevPageParam})">Previous</a>
                </li>

                <div ng-repeat="page in swPeopleCtrl.arbitraryPageArray ">
                    <li class="page-item"><a ui-sref-active="active" class="page-link"
                                             ui-sref="sw.people({pageNum:page.pagenumber})"
                                             ng-bind="page.pagenumber"></a>
                    </li>
                </div>

                <li ng-class="{'disabled': !swPeopleCtrl.swPeopleList.next}" class="page-item"><a class="page-link"
                                                                                                  ui-sref="sw.people({pageNum:swPeopleCtrl.nextPageParam})">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>